/* #region variables */

$gap-size: 1px;
$cell-size: 100px;
$hovered-cell-color: #ffbfcb;
$hover-shift: 20px;
$border-size: 1px;
$padding-x: 10px;
$padding-y: 10px;

/* #endregion */

body {
  margin: 0;
}

.place {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $cell-size * 7 + 30px;
  height: $cell-size * 5;
  padding-top: $padding-y * 13.4;
  padding-left: $padding-x * 13.7;
}

.calendar {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: $gap-size $gap-size;
  flex-wrap: wrap;
  width: $cell-size * 7 + $gap-size * 7;
  padding-left: $padding-x * 2;

  $start-days: (mon, 1), (tue, 2), (wed, 3), (thu, 4), (fri, 5), (sat, 6),
    (sun, 7);

  @each $start-day, $num-day in $start-days {
    &--start-day-#{$start-day} {
      .calendar__day:nth-child(1) {
        margin-left: (
          ($cell-size * ($num-day - 1)) + ($gap-size * ($num-day - 1))
        );
      }
    }
  }

  @for $month-length from 28 through 31 {
    &--month-length-#{$month-length} {
      .calendar__day:nth-child(n + #{$month-length + 1}) {
        display: none;
      }
    }
  }

  &__day {
    @for $day-count from 1 through 31 {
      &:nth-child(#{$day-count})::before {
        content: '#{$day-count}';
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $cell-size;
        height: $cell-size;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        padding-left: $border-size;
        background-color: #eee;
        border: $border-size solid #000;
      }
    }
  }

  &__day:hover::before {
    cursor: pointer;
    background-color: $hovered-cell-color;
    transform: translate(0, $hover-shift);
    transition-duration: 0.5s;
  }
}
